Django>=2.1.6
django-appconf==1.0.2
django-configurations==2.1
django-imagekit==4.0.2
flake8==3.6.0
mccabe==0.6.1
pilkit==2.0
Pillow==6.2.0
pycodestyle==2.4.0
pyflakes==2.0.0
pytz==2018.5
six==1.11.0
