{% extends "base.html" %}

{% load static %}

{% load imagekit %}

{% get_media_prefix %}

{% block title %}Магазин на django{% endblock %}

{% block head_link %}
    <link rel="stylesheet" type="text/css" href="{% static 'djadesh/css/index.css' %}">
{% endblock %}

{% block content %}
    <table>
    <tr>
        <td class="shopheader">Лучший интернет магазин!</td>
        <td class="shopbasket">
            <a href="{% url 'djadesh:basket' %}">
                <p>В вашей корзине </p>
                <p>{{ basket_items_count }} товара(ов).</p>
                <p>На сумму {{ basket_total_price }} руб.</p>
            </a>
        </td>
    </tr>
    </table>
    <table cellpadding="5">
        {% if item_list %}
            {% for item in item_list %}
                <tr>
                    <td rowspan="2" class="image">
                        <a href="{{ item.id }}/">
                            {% generateimage 'djadesh:preview' source=item.get_main_image.img -- class="main" %}
                        </a>
                    </td>
                    <td class="name">
                        <a href="{{ item.id }}/">{{ item.name }}</a>
                    </td>
                    <td rowspan="2" class="price">
                        <a class="price" href="{{ item.id }}/">{{ item.price }}</a>
                    </td>
                </tr>
                <tr>
                    <td class="properties">
                        <ul>
                            {% for property in item.get_primary_properties %}
                                <li class="properties">{{ property.property_name }} {{ property.property_value }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <p>No items.</p>
        {% endif %}
    </table>
{% endblock content %}