{% extends "base.html" %}

{% load static %}

{% load imagekit %}

{% get_media_prefix %}

{% block title %}{{ item.name }}{% endblock %}

{% block head_link %}
    <link rel="stylesheet" type="text/css" href="{% static 'djadesh/css/item.css' %}">
{% endblock %}

{% block content %}
    <div class="layout">
        <div class="basket">
            <a href="{% url 'djadesh:basket' %}">
                <p>В вашей корзине
                <p>{{ basket_items_count }} товара(ов).
                <p>На сумму {{ basket_total_price }} руб.</p>
            </a>
        </div>
        <div class="link"><a href="{% url 'djadesh:index' %}">Назад</a></div>
        {% if item %}
            <div class="header"><h1>{{ item.name|truncatechars:50 }}</h1></div>
            <div class="previews">
                <table>
                    {% for image in item.images.all %}
                        <tr>
                            <td>
                                <a href="#" onclick='document.getElementById("mainImage1").src="{{ image.img.url }}"'>{% thumbnail '50x50' image.img %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="mainimage">
                {% generateimage 'djadesh:mainimage' source=item.get_main_image.img -- class="main" id="mainImage1"%}
            </div>
            <div class="properties">
                <ul>
                    <b>Коротко о товаре</b>
                    {% for property in item.properties.all %}
                        <li class="properties">{{ property.property_name }} {{ property.property_value }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="price">
                {% if item.get_quantity %}
                    <h3>{{ item.price }} Руб</h3>
                    <form action="{% url 'djadesh:add' item.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="В корзину">
                    </form>
                {% else %}
                    <p>Товар отсутствует на складе</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
